{% extends 'base.html' %}
{% block title %} Django {% endblock %}
{% block content %}

    <h1>Menu</h1>
    <div class="menu-dashboard">
        {% for item in menu %}
        <div class="card" style="width: 18rem;">
          <img src="{{ item.foto.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.price }}</p>
            <a href="{% url 'purchaseView' %}" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="purchased-dashboard">

        <div class="card">
          <div class="card-header">
            <b>Riwayat Penjualan</b>
          </div>
          <ul class="list-group list-group-flush">
            {% for item in menu_purchased.values %}
            <li class="list-group-item"><b>{{ item.0 }}</b>
            <p>Review: {{ item.1 }}</p>
            <p>Tanggal transaksi: {{ item.2 }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>

    </div>
    <br>
    <br>
{% endblock content %}